- var REVIEWS_IMMUNAL = LANG.products.immunal.reviews;

include ../../mixins/review
-
	const reviewStars = [
		'img/svg/raiting_review_1.svg',
		'img/svg/raiting_review_2.svg',
		'img/svg/raiting_review_1.svg',
		'img/svg/raiting_review_2.svg',
		'img/svg/raiting_review_2.svg',
		'img/svg/raiting_review_2.svg',
		'img/svg/raiting_review_1.svg',
		'img/svg/raiting_review_2.svg',
		'img/svg/raiting_review_2.svg',
	];
section.reviews.reviews--immunal
	.container
		.reviews__wrapper
			.reviews__left
				h2.reviews__title.title.title--med!= REVIEWS_IMMUNAL.title
				img.reviews__stars(src="img/svg/raiting_review_1.svg", alt="stars")
				.reviews__wrap
					p.reviews__estimate.title.title--med 4.9/5
					p.reviews__count!= REVIEWS_IMMUNAL.count
				p.reviews__desc.text--med!= REVIEWS_IMMUNAL.desc
				a.reviews__btn.btn-empty(href="#")!= REVIEWS_IMMUNAL.btn
			.reviews__right
				.reviews__sorting.sorting
					p.sorting__text!= REVIEWS_IMMUNAL.sort_text
					.sorting__list
						p.sorting__item!= REVIEWS_IMMUNAL.sort_item
							i.fico.fico-arrow
				.reviews__list
					each review, key in REVIEWS_IMMUNAL.reviewArray
						+review(review.name, review.date, reviewStars[key], review.main, review.text, review.photos, review.likes, review.dislikes)
				.reviews__pagination.pagination
					.pagination__item.active 1
					.pagination__item 2
					.pagination__item 3
					.pagination__item 4