- var FAMILY = LANG.about.family;

section.family
	.family__wrap.family-wrap
		.family-wrap__container.container
			.family-wrap__info
				h2.family-wrap__title.title.title--big
					span!= FAMILY.title
				.family-wrap__pics
					img.family-wrap__pic.family-wrap__pic--1(src="img/family_1.png", alt="")
					img.family-wrap__pic.family-wrap__pic--2(src="img/family_2.png", alt="")
					img.family-wrap__pic.family-wrap__pic--3(src="img/family_3.png", alt="")
					img.family-wrap__pic.family-wrap__pic--4(src="img/family_4.png", alt="")
				.family-wrap__text.text--med
					.family-wrap__text--1
						.family-wrap__shape 
						| #{FAMILY.text_1}
					.family-wrap__text--2!= FAMILY.text_2
	.family__bottom.family-bottom
		.family-bottom__container.container
			.family-bottom__wrap
				.family-bottom__adv.title
					b.family-bottom__number 07
					p.family-bottom__text!= FAMILY.item_1
				.family-bottom__adv.title
					b.family-bottom__number 12
					p.family-bottom__text!= FAMILY.item_2
				.family-bottom__adv.title
					b.family-bottom__number 04
					p.family-bottom__text!= FAMILY.item_3