- var SOLUTIONS = LANG.about.solutions;

section.solutions
	.container.solutions__container
		.solutions__image-wrap
			img.solutions__image(src="img/solutions-image.jpg", alt="")
		.solutions__info
			h2.title.title--big.solutions__title.solutions__title--1
				span!= SOLUTIONS.title_2
			.solutions__text.text--med
				p.solutions__text--1!= SOLUTIONS.text_2
				p.solutions__text--2!= SOLUTIONS.text_1_1
			a.solutions__link.text--med(href="index.html#products-info")!= SOLUTIONS.btn
				img.solutions__link-arrow(src="img/svg/arrow.svg", alt="")
	.container
		.solutions__bottom
			.solutions__left
				h2.title.title--big.solutions__title.solutions__title--2
					span!= SOLUTIONS.title_1
				p.solutions__desc.text--med!= SOLUTIONS.text_1_1
			.solutions__photos
				img.solutions__img(src="img/solutions_1.jpg", alt="solutions")
				img.solutions__img(src="img/solutions_2.jpg", alt="solutions")
		img.solutions__logo(src="img/svg/goodlabs_light.svg" alt="goodlabs")

