- var HEADER_PROD_MAIN = LANG.products;

.item-adv
	.item-adv__wrap-ico
		img.item-adv__ico(src="img/svg/item_adv_1.svg", alt="ico")
	p.item-adv__text.text--small!= HEADER_PROD_MAIN.item_1
.item-adv
	.item-adv__wrap-ico
		img.item-adv__ico(src="img/svg/item_adv_2.svg", alt="ico")
	p.item-adv__text.text--small!= HEADER_PROD_MAIN.item_2
.item-adv
	.item-adv__wrap-ico
		img.item-adv__ico(src="img/svg/item_adv_3.svg", alt="ico")
	p.item-adv__text.text--small!= HEADER_PROD_MAIN.item_3
.item-adv
	.item-adv__wrap-ico
		img.item-adv__ico(src="img/svg/item_adv_4.svg", alt="ico")
	p.item-adv__text.text--small!= HEADER_PROD_MAIN.item_4
.item-adv
	.item-adv__wrap-ico
		img.item-adv__ico(src="img/svg/item_adv_5.svg", alt="ico")
	p.item-adv__text.text--small!= HEADER_PROD_MAIN.item_5
.item-adv
	.item-adv__wrap-ico
		img.item-adv__ico(src="img/svg/item_adv_6.svg", alt="ico")
	p.item-adv__text.text--small!= HEADER_PROD_MAIN.item_6
.item-adv
	.item-adv__wrap-ico
		img.item-adv__ico(src="img/svg/item_adv_7.svg", alt="ico")
	p.item-adv__text.text--small!= HEADER_PROD_MAIN.item_7