- var MENU = LANG.menu;
- var BANNER_BOTTOM = LANG.banner_bottom;

footer.footer
	.footer__top
		.container
			.footer__wrap
				.footer__wrapper
					.footer__wrapper-top
						.footer__col.footer__copy.footer__copy--desc.text--small © GoodLabs 
							br
							| Smart Formulas
							br
							span.year
							| .
						.footer__links
							ul.footer__col.menu-footer
								li.menu-footer__item
									a.menu-footer__link(href="index.html")!= MENU.item1
								li.menu-footer__item
									a.menu-footer__link(href="")!= MENU.item2
								li.menu-footer__item
									a.menu-footer__link(href="ingredients.html")!= MENU.item4
							ul.menu-footer
								li.menu-footer__item
									a.menu-footer__link(href="article-1.html")!= MENU.item5
								li.menu-footer__item
									a.menu-footer__link(href="about.html")!= MENU.item3
								li.menu-footer__item
									a.menu-footer__link(href="contacts.html")!= MENU.item6
						.footer__privacy.footer__col
							a.footer__link.text--med(href="privacy-policy.html")!= MENU.item9
							a.footer__link.text--med(href="cookie-policy.html")!= MENU.item10
							a.footer__link.text--med(href="terms.html")!= MENU.item11
					.footer__wrapper-bottom.reviews-block
						img.reviews-block__logo(src="img/svg/trustpilot.svg", alt="trustpilot")
						img.reviews-block__stars(src="img/svg/raiting_trustpilot_full.svg", alt="raiting_trustpilot_full")
						p.reviews-block__text!= MENU.desc
				.footer__right
					p.footer__address.text--med!= MENU.address
					.footer__social.social
						a.social__link(href="https://www.instagram.com/goodlabs_official/" target="_black")
							i.fico.fico-int
						a.social__link(href="https://www.facebook.com/goodlabsofficial" target="_black")
							i.fico.fico-fb
					a.footer__email-link.text--med(href="mailto:support@glabs-nutrition.com") support@glabs-nutrition.com
					.footer__icons.certificate
						img.certificate__image(src="img/svg/certificate_1.svg", alt="")
						img.certificate__image(src="img/svg/certificate_2.svg", alt="")
			.footer__col.footer__copy.footer__copy--mob.text--small © GoodLabs 
				br
				| Smart Formulas 
				br
				span.year
				| .