- var POPUP_MULTI = LANG.products.multi.popup;

.order-popup.order-popup--multivitamin.js-popup.order-pack-bundle1#order-popup
	.order-popup__wrap
		.order-popup__close.js-close
			img(src="img/svg/close.svg", alt="close")
		.order-popup__content
			.order-popup__top
				.order-popup__img
				.order-popup__info
					h3.order-popup__title.title.title--med!= POPUP_MULTI.title
					p.order-popup__descr.text--med!= POPUP_MULTI.desc
					p.order-popup__text.text--med!= POPUP_MULTI.text
			.order-popup__price-wrap
				label.order-popup__price.order-price.js-price-label(for='bundle0')
					b.order-price__count.text--small!= POPUP_MULTI.label_1
					span.order-price__value.title.title--small €18.99
				input#bundle0.order-popup__radio(type='radio' name='bundle' value='0')
				label.order-popup__price.order-price.js-price-label.price-active(for='bundle1')
					p.order-price__old-wrap
						b.order-price__count.text--small!= POPUP_MULTI.label_2
						span.order-price__old-price €56.97
					span.order-price__value.title.title--small €49.99
					span.order-price__comment.text--small
						|#{POPUP_MULTI.safe}
						|  €6.98
				input#bundle1.order-popup__radio(type='radio' name='bundle' value='1')
				label.order-popup__price.order-price.js-price-label(for='bundle2')
					p.order-price__old-wrap
						b.order-price__count.text--small!= POPUP_MULTI.label_3
						span.order-price__old-price €94.95
					span.order-price__value.title.title--small €76.99
					span.order-price__comment.text--small
						|#{POPUP_MULTI.safe}
						|  €17.96
				input#bundle2.order-popup__radio(type='radio' name='bundle' value='2')
			form.order-form#js-order-form(action="/", method="post")
					.order-form__wrap
						.order-form__input-wrap
							input.order-form__input.input.js-input(type="text", name="name" required)
							label.order-form__label!= POPUP_MULTI.pl_name
						.order-form__input-wrap
							input.order-form__input.input.js-input(type="tel", name="phone"   required)
							label.order-form__label!= POPUP_MULTI.pl_tel
						.order-form__input-wrap
							input.order-form__input.input.js-input(type="email", name="email")
							label.order-form__label!= POPUP_MULTI.pl_email
								span!= POPUP_MULTI.pl_opt
						.order-form__input-wrap
							input.order-form__input.input.js-input(type="text", name="code")
							label.order-form__label!= POPUP_MULTI.pl_code
								span!= POPUP_MULTI.pl_opt
					.order-form__checkbox.checkbox
						label.checkbox__label!= POPUP_MULTI.checkbox
							input.checkbox__input(type="checkbox" checked)
							span.checkbox__checkmark.checkbox__checkmark--green
								img.checkbox__ico(src="img/svg/check-order.svg", alt="check")
					button.order-form__btn.btn.btn--green(type="submit")!= POPUP_MULTI.btn