- var ADVANTAGES_VISION = LANG.products.vision.advantages;

section.advantages
	.container
		.advantages__top
			h2.advantages__title.title.title--med!= ADVANTAGES_VISION.title
			.advantages__photo.advantages__photo--1.advantages__photo--mob
				img.advantages__img(src="img/advantages_vision_1.jpg", alt="photo")
			p.advantages__desc.text--med!= ADVANTAGES_VISION.desc
		.advantages__photos
			.advantages__photo.advantages__photo--1.advantages__photo--desc
				img.advantages__img(src="img/advantages_vision_1.jpg", alt="photo")
			.advantages__photo.advantages__photo--2
				img.advantages__img(src="img/advantages_vision_2.jpg", alt="photo")
			.advantages__photo.advantages__photo--3
				img.advantages__img(src="img/advantages_vision_3.jpg", alt="photo")
		.advantages__bottom
			.advantages__left
				h2.advantages__ttl.title.title--med!= ADVANTAGES_VISION.ttl
				img.advantages__chart.advantages__chart--mob(src="img/svg/chart_vision.svg", alt="chart")
				p.advantages__text.text--med!= ADVANTAGES_VISION.text
				a.advantages__link.text--med(href="#")
					span!= ADVANTAGES_VISION.btn
					img(src="img/svg/arrow.svg", alt="arrow")
			img.advantages__chart.advantages__chart--desc(src="img/svg/chart_vision.svg", alt="chart")