- var TECHNICAL_VISION = LANG.products.vision.technical;


include ../../mixins/technical-table


section.technical-info
	.container
		.technical-info__wrapper.technical-info__wrapper--immunal
			.technical-info__left
				h2.technical-info__title.title.title--med!= TECHNICAL_VISION.title
				p.technical-info__ttl.text--big!= TECHNICAL_VISION.ttl
				.technical-info__desc
					p.technical-info__text.text--med!= TECHNICAL_VISION.text_1
					p.technical-info__text.text--med!= TECHNICAL_VISION.text_2
					p.technical-info__text.text--med!= TECHNICAL_VISION.text_3
			.technical-info__right
				+technical-table(TECHNICAL_VISION.technicalInfoArray)