- var CONTACTS = LANG.contacts;

section.contacts-content
	.container
		.contacts-content__wrapper
			.contacts-content__left
				h1.contacts-content__title.contacts-content__title--mob.title.title--big!= CONTACTS.title
				p.contacts-content__text-form.contacts-content__text-form--mob.text--med!= CONTACTS.descr
				.contacts-content__wrap-map
					img.contacts-content__map(src="img/map.png", alt="map")
				p.contacts-content__text.title!= CONTACTS.city
				.contacts-content__desc
					p.contacts-content__address.text--med!= CONTACTS.address
					a.contacts-content__link.text--med.nowrap(href="mailto:support@glabs-nutrition.com") support@glabs-nutrition.com
			.contacts-content__right
				h1.contacts-content__title.contacts-content__title--desc.title.title--big!= CONTACTS.title
				p.contacts-content__text-form.contacts-content__text-form--desc.text--med!= CONTACTS.descr 
				form.contacts-form#js-contacts-form(action="/", method="post")
					.contacts-form__wrap
						input.contacts-form__input.contacts-form__input--max.input(type="text", name="name" placeholder=CONTACTS.placeholder.name required)
						input.contacts-form__input.contacts-form__input--med.input(type="tel", name="phone" placeholder=CONTACTS.placeholder.phone required)
						input.contacts-form__input.contacts-form__input--med.input(type="email", name="email" placeholder=CONTACTS.placeholder.email required)
						select.select.contacts-form__select.js-select--type
							option(value="") &nbsp;
							option(value=CONTACTS.select1.variant1)!=CONTACTS.select1.variant1
						select.select.contacts-form__select.js-select--product
							option(value="") &nbsp;
							option(value="Immunal") Immunal
							option(value="Multi-Vitamin") Multi Vitamin
							option(value="Anti-Stress") Anti Stress
						input.contacts-form__input.contacts-form__input--max.input(type="text", name="text" placeholder=CONTACTS.placeholder.message required)
					.contacts-form__checkbox.checkbox
						label.checkbox__label!=CONTACTS.checkmark
							input.checkbox__input(type="checkbox" checked)
							span.checkbox__checkmark
								img.checkbox__ico(src="img/svg/check-order.svg", alt="check")
					button.contacts-form__btn.btn.btn--orange(type="submit")!=CONTACTS.btn
include popup-success