- var CONTACTS = LANG.contacts;

section.contacts-content
	.container
		.contacts-content__wrapper
			.contacts-content__left
				h1.contacts-content__title.contacts-content__title--mob.title.title--big!= CONTACTS.title
				p.contacts-content__text-form.contacts-content__text-form--mob.text--med!= CONTACTS.descr
				.contacts-content__wrap-map
					picture
						source(srcset='img/map@2x.png 2x, img/map.webp 1x')
						img.contacts-content__map(src='img/map.png' alt='map')
				p.contacts-content__text.title!= CONTACTS.ttl_1
				p.contacts-content__address-m.text--med!= CONTACTS.address_1
				p.contacts-content__text.title!= CONTACTS.ttl_2
				.contacts-content__desc
					p.contacts-content__address.text--med!= CONTACTS.address_2
					//- a.contacts-content__link.text--med.nowrap(href="mailto:support@glabs-nutrition.com") support@glabs-nutrition.com
			.contacts-content__right
				h1.contacts-content__title.contacts-content__title--desc.title.title--big!= CONTACTS.title
				p.contacts-content__text-form.contacts-content__text-form--desc.text--med!= CONTACTS.descr
				form.contacts-form#js-contacts-form(action="/", method="post")
					.contacts-form__wrap
						.contacts-form__input-wrap.contacts-form__input-wrap--max.form-group
							input.contacts-form__input.input.js-input.form-control(type="text", name="name" required)
							label.contacts-form__label.js-label!= CONTACTS.placeholder.name
							p.contacts-form__error Введите имя
						.contacts-form__input-wrap.contacts-form__input-wrap--med.form-group
							input.contacts-form__input.input.js-input(type="tel", name="phone" required)
							label.contacts-form__label.js-label!= CONTACTS.placeholder.phone
							p.contacts-form__error Введите телефон
						.contacts-form__input-wrap.contacts-form__input-wrap--med.form-group
							input.contacts-form__input.input.js-input(type="email", name="email" required)
							label.contacts-form__label.js-label!= CONTACTS.placeholder.email
							p.contacts-form__error Введите email
						select.select.contacts-form__select.js-select--type(data-placeholder=CONTACTS.placeholder.question)
							option(value="") &nbsp;
							option(value=CONTACTS.select1.variant1)!=CONTACTS.select1.variant1
						select.select.contacts-form__select.js-select--product(data-placeholder=CONTACTS.placeholder.prod)
							option(value="") &nbsp;
							option(value="Immunal") Immunal
							option(value="Multi-Vitamin") Multi Vitamin
							option(value="Anti-Stress") Anti Stress
						.contacts-form__input-wrap.contacts-form__input-wrap--textarea
							textarea.contacts-form__textarea.textarea.js-input(name="text", required)
							label.contacts-form__label.js-label!= CONTACTS.placeholder.message
					.contacts-form__checkbox.checkbox
						label.checkbox__label!=CONTACTS.checkmark
							input.checkbox__input(type="checkbox")
							span.checkbox__checkmark
								img.checkbox__ico(src="img/svg/check-order.svg", alt="check")
					button.contacts-form__btn.btn.btn--orange(type="submit")!=CONTACTS.btn
include popup-success