- var EXPERTS = LANG.main.experts;


include ../mixins/expert

-
	const expertPhoto = [
		'feedback_main_1',
		'feedback_main_2'
		//- 'feedback_main_3',
	];

section.experts
	.container
		.experts__top.js-experts-for
			each expert, key in EXPERTS.expertArray
				+expert(expertPhoto[key], expert)
		.experts__bottom
			.experts__dots.js-experts-nav
				.experts__item.item-expert
					.item-expert__wrap
						.item-expert__photo
							img(src="img/expert-small-1.jpg", alt=EXPERTS.name_1)
						.item-expert__desc
							p.item-expert__name!= EXPERTS.name_1
							p.item-expert__post!= EXPERTS.post_1
				.experts__item.item-expert
					.item-expert__wrap
						.item-expert__photo
							img(src="img/expert-small-2.jpg", alt=EXPERTS.name_2)
						.item-expert__desc
							p.item-expert__name!= EXPERTS.name_2
							p.item-expert__post!= EXPERTS.post_2
			p.experts__text.text--big!= EXPERTS.desc
