- var ARTICLES_1 = LANG.articles.article_1;

section.article-page
	include ../banner-top
	include ../mixins/menu.pug
	+menu("article-1")
	.container
		.article-page__wrapper
				h1.article-page__title.title.title--main!= ARTICLES_1.title_main
				.article-page__photo
					picture
						source(srcset="img/article_1.webp", type="image/webp")
						img.article-page__image(src="img/article_1.jpg", alt=ARTICLES_1.title_main)
				.article-page__content
					p.article-page__main-text.text--large!= ARTICLES_1.desc
					.article-page__wrap.article-page__wrap--simle-text
						h4.article-page__ttl.title.title--small!= ARTICLES_1.ttl_1
						.article-page__desc
							each text in ARTICLES_1.desc_1
								p.article-page__text.text--med!= text
					.article-page__wrap.article-page__wrap--float-image-right
						img.article-page__image-border(src="img/acticle_image_1.jpg", alt=ARTICLES_1.ttl_2)
						h4.article-page__ttl.title.title--small!= ARTICLES_1.ttl_2
						.article-page__desc
							each text in ARTICLES_1.desc_2
								p.article-page__text.text--med!= text
					.article-page__line
					.article-page__wrap.article-page__wrap--list
						h4.article-page__ttl.title.title--small!=ARTICLES_1.ttl_3
						.article-page__big-list.big-list
							.big-list__row
								.big-list__left
									p.big-list__vitamin A
									p.big-list__desc.title!= ARTICLES_1.item_1
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item!= ARTICLES_1.list_item_1_1
									li.list-acticle__item!= ARTICLES_1.list_item_1_2
							.big-list__row
								.big-list__left
									p.big-list__vitamin B1
									p.big-list__desc.title!= ARTICLES_1.item_2
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item!= ARTICLES_1.list_item_2_1
									li.list-acticle__item!= ARTICLES_1.list_item_2_2
							.big-list__row
								.big-list__left
									p.big-list__vitamin B5
									p.big-list__desc.title!= ARTICLES_1.item_3
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item!= ARTICLES_1.list_item_3_1
									li.list-acticle__item!= ARTICLES_1.list_item_3_2
							.big-list__row
								.big-list__left
									p.big-list__vitamin B7
									p.big-list__desc.title!= ARTICLES_1.item_4
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item!= ARTICLES_1.list_item_4_1
									li.list-acticle__item!= ARTICLES_1.list_item_4_2
							.big-list__row
								.big-list__left
									p.big-list__vitamin B9
									p.big-list__desc.title!= ARTICLES_1.item_5
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item!= ARTICLES_1.list_item_5_1
									li.list-acticle__item!= ARTICLES_1.list_item_5_2
							.big-list__row
								.big-list__left
									p.big-list__vitamin C
									p.big-list__desc.title!= ARTICLES_1.item_6
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item!= ARTICLES_1.list_item_6_1
									li.list-acticle__item!= ARTICLES_1.list_item_6_2
							.big-list__row
								.big-list__left
									p.big-list__vitamin D3
									p.big-list__desc.title!= ARTICLES_1.item_7
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item!= ARTICLES_1.list_item_7_1
									li.list-acticle__item!= ARTICLES_1.list_item_7_2
							.big-list__row
								.big-list__left
									p.big-list__vitamin E
									p.big-list__desc.title!= ARTICLES_1.item_8
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item!= ARTICLES_1.list_item_8_1
									li.list-acticle__item!= ARTICLES_1.list_item_8_2
						p.article-page__text.text--mede!= ARTICLES_1.text_1
					.article-page__line
					.article-page__wrap.article-page__wrap--simle-text
						h4.article-page__ttl.title.title--small!= ARTICLES_1.ttl_4
						.article-page__desc
							each text in ARTICLES_1.desc_3
								p.article-page__text.text--med!= text
						ul.list-acticle.text--med.mbtop.mbbottom.pl
							each item in ARTICLES_1.list_1
								li.list-acticle__item!= item
						p.article-page__text.text--med!= ARTICLES_1.text_2
					.article-page__wrap.article-page__wrap--float-image-left
						h4.article-page__ttl.title.title--small!= ARTICLES_1.ttl_5
						.article-page__desc
							img.article-page__image-border(src="img/acticle_image_2.jpg", alt=ARTICLES_1.ttl_5)
							each text in ARTICLES_1.desc_4
								p.article-page__text.text--med!= text
					.article-page__wrap.article-page__wrap--adv-list
						h4.article-page__ttl.title.title--small!= ARTICLES_1.ttl_6
						.article-page__desc
							each text in ARTICLES_1.desc_5
								p.article-page__text.text--med!= text
						.article-page__list-adv.pl
							.item-benefit
								h5.item-benefit__title.title!= ARTICLES_1.list_ttl_1
								p.item-benefit__text.text--med!= ARTICLES_1.list_text_1
							.item-benefit
								h5.item-benefit__title.title!= ARTICLES_1.list_ttl_2
								p.item-benefit__text.text--med!= ARTICLES_1.list_text_2
							.item-benefit
								h5.item-benefit__title.title!= ARTICLES_1.list_ttl_3
								p.item-benefit__text.text--med!= ARTICLES_1.list_text_3
							.item-benefit
								h5.item-benefit__title.title!= ARTICLES_1.list_ttl_4
								p.item-benefit__text.text--med!= ARTICLES_1.list_text_4
					.article-page__line
					.article-page__wrap.article-page__wrap--result
						.article-page__top
							.article-page__left
								h4.article-page__ttl.title.title--small!= ARTICLES_1.ttl_last
								p.article-page__text.text--med!= ARTICLES_1.text_last
							a.article-page__right.recom-item(href="product-multivitamin.html")
								.recom-item__prod
									img(src="img/product_2.png", alt="Multi Vitamin")
								.recom-item__info
									h3.recom-item__title.title Multi Vitamin
									p.recom-item__desc!= ARTICLES_1.rec_desc
									img.recom-item__raiting(src="img/svg/raiting_review_1.svg", alt="raiting")
									.recom-item__bottom
										p.recom-item__price.title €18.99
										p.recom-item__link
											i.fico.fico-arrowLink
					include share-links

