- var ARTICLES_4 = LANG.articles.article_4;

section.article-page
	include ../banner-top
	include ../mixins/menu.pug
	+menu("article-4")
	.container
		.article-page__wrapper
				h1.article-page__title.title.title--main!= ARTICLES_4.title_main
				.article-page__photo
					picture
						source(srcset="img/article_4.webp", type="image/webp")
						img.article-page__image(src="img/article_4.jpg", alt=ARTICLES_4.title_main)
				.article-page__content
					p.article-page__main-text.text--large!= ARTICLES_4.desc
					.article-page__wrap.article-page__wrap--float-image-left
						h4.article-page__ttl.title.title--small!= ARTICLES_4.ttl_1
						.article-page__desc
							img.article-page__no-border(src="img/acticle_image_5.png", alt=ARTICLES_4.ttl_1)
							each text in ARTICLES_4.desc_1
								p.article-page__text.text--med!= text
					.article-page__wrap.article-page__wrap--float-image-right
						h4.article-page__ttl.title.title--small!= ARTICLES_4.ttl_2
						.article-page__desc
							img.article-page__image-round(src="img/acticle_image_6.jpg", alt=ARTICLES_4.ttl_2)
							each text in ARTICLES_4.desc_2
								p.article-page__text.text--med!= text
					.article-page__wrap.article-page__wrap--float-image-left
						h4.article-page__ttl.title.title--small!= ARTICLES_4.ttl_3
						.article-page__desc
							p.article-page__text.text--med!= ARTICLES_4.text_1
							img.article-page__image-border(src="img/acticle_image_7.jpg", alt=ARTICLES_4.ttl_3)
							p.article-page__text.text--med!= ARTICLES_4.text_2
					.article-page__wrap.article-page__wrap--simle-text
						h4.article-page__ttl.title.title--small!= ARTICLES_4.ttl_4
						.article-page__desc
							each text in ARTICLES_4.desc_3
								p.article-page__text.text--med!= text
					.article-page__line
					.article-page__wrap.article-page__wrap--result
						.article-page__top
							.article-page__left
								h4.article-page__ttl.title.title--small!= ARTICLES_4.ttl_last
								.article-page__desc
									each text in ARTICLES_4.desc_last
										p.article-page__text.text--med!= text
							a.article-page__right.recom-item(href="product-immunal.html")
								.recom-item__prod
									img(src="img/product_1.png", alt="Multi Vitamin")
								.recom-item__info
									h3.recom-item__title.title Immunal
									p.recom-item__desc!= ARTICLES_4.recom_desc
									img.recom-item__raiting(src="img/svg/raiting_review_2.svg", alt="raiting")
									.recom-item__bottom
										p.recom-item__price.title €25.99
										pa.recom-item__link
											i.fico.fico-arrowLink
					include share-links

