- var ARTICLES_3 = LANG.articles.article_3;

section.article-page
	include ../banner-top
	include ../mixins/menu.pug
	+menu("article-3")
	.container
		.article-page__wrapper
				h1.article-page__title.title.title--main!= ARTICLES_3.title_main
				.article-page__photo
					picture
						source(srcset="img/article_3.webp", type="image/webp")
						img.article-page__image(src="img/article_3.jpg", alt= ARTICLES_3.title_main)
				.article-page__content
					p.article-page__main-text.text--large!= ARTICLES_3.desc
					.article-page__wrap.article-page__wrap--simle-text
						h4.article-page__ttl.title.title--small!= ARTICLES_3.ttl_1
						.article-page__desc
							each text in ARTICLES_3.desc_1
								p.article-page__text.text--med!= text
						ul.list-acticle.text--med.mbtop.mbbottom.pl
							each item in ARTICLES_3.list_1
								li.list-acticle__item!= item
						p.article-page__text.text--med!= ARTICLES_3.text_1
						ul.list-acticle.text--med.mbtop.mbbottom.pl
							each item in ARTICLES_3.list_2
								li.list-acticle__item!= item
						p.article-page__text.text--med!= ARTICLES_3.text_2
					.article-page__wrap.article-page__wrap--float-image-right
						h4.article-page__ttl.title.title--small!= ARTICLES_3.ttl_2
						.article-page__desc
							img.article-page__vitamin(src="img/svg/ingredient_vit-b.svg", alt=ARTICLES_3.ttl_2)
							each text in ARTICLES_3.desc_2
								p.article-page__text.text--med!= text
					.article-page__wrap.article-page__wrap--float-image-right
						h4.article-page__ttl.title.title--small!= ARTICLES_3.ttl_3
						.article-page__desc
							img.article-page__vitamin(src="img/svg/ingredient_vit-c.svg", alt=ARTICLES_3.ttl_3)
							each text in ARTICLES_3.desc_3
								p.article-page__text.text--med!= text
					.article-page__wrap.article-page__wrap--float-image-right
						h4.article-page__ttl.title.title--small!= ARTICLES_3.ttl_4
						.article-page__desc
							img.article-page__vitamin(src="img/svg/ingredient_vit-e.svg", alt=ARTICLES_3.ttl_4)
							each text in ARTICLES_3.desc_4
								p.article-page__text.text--med!= text
					.article-page__wrap.article-page__wrap--float-image-right
						h4.article-page__ttl.title.title--small!= ARTICLES_3.ttl_5
						.article-page__desc
							img.article-page__vitamin(src="img/svg/ingredient_vit_a.svg", alt=ARTICLES_3.ttl_5)
							each text in ARTICLES_3.desc_5
								p.article-page__text.text--med!= text
					.article-page__wrap.article-page__wrap--float-image-right
						h4.article-page__ttl.title.title--small!= ARTICLES_3.ttl_6
						.article-page__desc
							img.article-page__vitamin(src="img/svg/ingredient_vit-d3.svg", alt=ARTICLES_3.ttl_6)
							each text in ARTICLES_3.desc_6
								p.article-page__text.text--med!= text
					.article-page__wrap.article-page__wrap--simle-text
						h4.article-page__ttl.title.title--small!= ARTICLES_3.ttl_7
						.article-page__desc
							each text in ARTICLES_3.desc_7
								p.article-page__text.text--med!= text
					.article-page__line
					.article-page__wrap.article-page__wrap--result
						.article-page__top
							.article-page__left
								h4.article-page__ttl.title.title--small!= ARTICLES_3.ttl_last
								p.article-page__text.text--med!= ARTICLES_3.desc_last
							a.article-page__right.recom-item(href="product-multivitamin.html")
								.recom-item__prod
									img(src="img/product_2.png", alt="Multi Vitamin")
								.recom-item__info
									h3.recom-item__title.title Multi Vitamin
									p.recom-item__desc!= ARTICLES_3.recom_desc
									img.recom-item__raiting(src="img/svg/raiting_review_1.svg", alt="raiting")
									.recom-item__bottom
										p.recom-item__price.title €18.99
										p.recom-item__link
											i.fico.fico-arrowLink
					include share-links

