mixin review(name, date, stars, main, text, photos, likes, dislikes)
	.review
		.review__left
			.review__wrap
				p.review__name!= name
				p.review__date!= date
			img.review__stars(src=stars, alt="raiting")
		.review__right
			h3.review__main.text--med!= main
			p.review__desc.text--med!= text
			if photos
				.review__photos
					each photo in photos
						img(src=photo, alt="photo")
		.review__likes
			.review__col.js-like
				i.fico.fico-likes
				p.review__count!= likes
			.review__col.js-like
				i.fico.fico-dislikes
				p.review__count!= dislikes